:root {
  --side-margin: 20px;

  /*@media screen and (max-width: 500px) {
    --side-margin: 20px;
  }
  @media screen and (max-width: 600px) {
    --side-margin: 30px;
  }
  @media screen and (max-width: 700px) {
    --side-margin: 50px;
  }*/
  @media screen and (min-width: 500px) {
    --side-margin: 20px;
  }
  @media screen and (min-width: 600px) {
    --side-margin: 50px;
  }
  @media screen and (min-width: 700px) {
    --side-margin: 130px;
  }
}
