{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "comma-dangle": 1,
  "handle-callback-err": 0,
  "indent": 0,
  "jsxBracketSameLine": false,
  "keyword-spacing": 0,
  "no-extend-native": 0,
  "no-multiple-empty-lines": 0,
  "no-tabs": 0,
  "no-trailing-spaces": 0,
  "no-undef": 1,
  "no-unused-vars": 0,
  "object-curly-spacing": 0,
  "one-var": 0,
  "padded-blocks": 0,
  "parser": "babel-flow",
  "prefer-promise-reject-errors": 0,
  "printWidth": 10000,
  "semi": true,
  "singleQuote": true,
  "spaced-comment": 0,
  "tabWidth": 2,
  "trailingComma": "none"
}
